.container{

	overflow: auto;
}
.projectlist{

	position: relative;
	top:110px;
	border-radius: 30px;
	background: #28B25C;
	height:100%;
	width:80%;
	padding: 0px;
	margin: 0 10%;

}
.Terrapin_Jumper{
	position: relative;
	top:10px;
	border-radius: 10px;
	background: #437F5A;
	font-weight: 900;
	color: #000000;
	width: 84%;
	height: auto;
	margin: 0% 5%;
	padding: 3%;
	font-size: 17px;
}
.blind_spot{
	position: relative;
	top:75px;
	border-radius: 10px;
	background: #437F5A;
	font-weight: 900;
	color: #000000;
	width: 84%;
	height: auto;
	margin: 0% 5%;
	padding: 3%;
	font-size: 17px;
}